<?xml version="1.0" encoding="UTF-8"?>
<!--
    TemplateStudio UK
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Templatestudio\Core\App\Module\ModuleListInterface" type="Templatestudio\Core\App\Module\ModuleList" />
    <preference for="Templatestudio\Core\Model\LicenseInterface" type="Templatestudio\Core\Model\License" />
</config>
